@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
/* font-family: 'Poppins', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f7f4;
  width: 100%;
  height: 100vh;
  /* font-size: 2.2rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
:root {
  --primary-color: #f0f7f4;
  --gap: 0.3rem;
  --primary-font: 2.2rem;
}
/* * {
  border: 2px solid black;
} */
/* .wrapper {
  width: 24rem;
  height: 30rem;
} */
.text-top {
  margin-bottom: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  padding: 0 1rem;
}
.instructions {
  position: absolute;
  /* left: 5rem; */
  /* height: 14rem; */
  width: 30rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  z-index: 20;
  border: 5px solid rgb(3, 78, 3);
  /* margin: 0 .5rem; */
  padding-top: 1rem;
  padding-left: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  box-shadow: 2px 2px 3px black, -2px -2px 3px black;
  animation: popup 400ms 1;
  /* animation: popdown 400ms 1; */
}
@keyframes popup {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
/* @keyframes popdown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(o.2);
  }
} */
.instructions > p {
  font-weight: 600;
  display: inline-block;
  text-indent: -8px;
}
/* ul {
  margin-bottom: 1rem;
} */
li {
  margin: 0.3rem;
}
#close {
  /* display: inline; */
  /* position: relative; */
  margin-left: 9.5rem;
  transform: translate(0, -0.5rem);
  width: 1.5rem;
  height: 1.8rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  /* border: 2px solid rgb(4, 105, 4); */
  background-color: rgb(3, 78, 3);
  /* animation: popup 400ms 1; */

  /* border: none; */
  /* z-index: 100; */
}
.help {
  position: relative;
  right: 18rem;
  top: 9rem;
  /* height: 3.5rem; */
  /* width:2rem; */
  background-color: orange;
  font-size: 3rem;
  font-weight: 600;
  color: rgb(4, 105, 4);
  font-family: "Poppins", sans-serif;
  padding: 0;
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
}
.help:hover {
  border: rgb(4, 105, 4);
}
@media screen and (max-width: 600px) {
  .help {
    right: 14rem;
    top: 9rem;
    font-size: 2rem;
  }
}
.hidden {
  display: none;
}
.container {
  width: 24rem;
  height: 30rem;
  border: black 0.2rem solid;
  border-radius: 1rem;
  /* padding-bottom: 1rem;; */
  background-color: #26547c;
  /* box-shadow: 5px 5px 3px black, -2px -2px 3px black; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow: hidden;
  grid-template-areas:
    "a a a a"
    "a a a a"
    "b b b d"
    "c c c d"
    "c c c d"
    "c c c d"
    "c c c d";
}
/* .container > div {
  background-color: black;
} */
.display-warp {
  /* background: blue; */
  position: relative;
  grid-area: a;
  /* border: 2px solid black; */
}
.display-warp p {
  font-family: "Satisfy", cursive;
  color: #fffcf9;
  font-size: 1.2rem;
  text-align: right;
  padding-top: 0.8rem;
  padding-right: 0.5rem;
}
.display {
  position: relative;
  display: flex;
  background: var(--primary-color);
  border-radius: 0.5rem;
  border: 2px solid black;
  position: absolute;
  bottom: 1.3rem;
  width: 100%;
  height: 4rem;
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2rem;
  overflow-wrap: break-word;

  /* text-combine-upright: initial; */

  /* margin-bottom: none; */
}
#displayadd {
  position: absolute;
  display: flex;
  align-items: flex-start;
  top: 0.2rem;
  left: 0.5rem;
  height: 2.6rem;
  width: 10rem;
  border: 2px solid black;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  font-size: 1.1rem;
  /* font-weight: 400; */
}

.operator1 {
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: 1fr 1fr 1fr;
  grid-area: b;
  margin-bottom: 0.2rem;
  /* border: 2px solid black; */
}
.btn {
  background-color: #a1cdf4;
}
.numbers {
  /* background-color: red; */
  grid-area: c;
  /* border: 2px solid black; */
}
.operator1 .btn,
.operator2 .btn {
  background-color: #f79824;
}
.operator2 {
  /* background-color: green; */
  display: grid;
  grid-gap: var(--gap);
  margin-left: 0.2rem;
  grid-template-rows: 4 auto;
  grid-area: d;
  padding-bottom: 0.3rem;
  /* border: 2px solid black; */
}
#clear {
  background-color: #f45b69;
}
.btn {
  /* background-color: var(--primary-color); */
  position: relative;
  background-color: #ffe1ea;
  height: 100%;
  width: 100%;
  font-size: var(--primary-font);
  border-radius: 0.5rem;
}

.btn:hover {
  /* font-size: 4rem; */
  /* background-color: white; */
  transform: scale(1.06);
}

#multi {
  padding-top: 1rem;
  font-size: 2.5rem;
}

.numbers {
  /* margin-top: 0.5rem; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: var(--gap);
  padding-bottom: 0.3rem;
}
/* F79824 */
/* EEE5E9 */
/* 86BAA1 */
#result {
  background-color: #86baa1;
}

/* .transition {
  position: absolute;
  background-color: black;
  animation: anime 1000ms infinite;
  transform: translate(-50px, -50px);
  border-radius: 50%;
  z-index: 1;
}
@keyframes anime {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
} */
#lv {
  background-color: pink;
  font-size: 1.4rem;
}
.sidedisplay {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  position: absolute;
  height: 3rem;
  width: 4rem;
  background-color: var(--primary-color);
  /* border: 2px solid black; */
  z-index: 2;
  transform: translate(17rem, -5rem);
}
@media screen and (max-width: 600px) {
  .sidedisplay {
    position: absolute;
    height: 2rem;
    width: 4rem;
    background-color: var(--primary-color);
    /* border: 2px solid black; */
    z-index: 2;
    transform: translate(10rem, -12rem);
  }
}
