@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
/* font-family: 'Poppins', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: #f0f7f4; */
  background-image: linear-gradient(
    to right bottom,
    #4361ee,
    #3b6cf0,
    #3676f1,
    #3680f2,
    #3b89f1,
    #3292f3,
    #309bf3,
    #34a4f3,
    #2caef4,
    #2fb7f3,
    #3bc0f2,
    #4cc9f0
  );
  width: 100%;
  height: 100vh;
  color: rgb(0, 0, 0, 0.8);
  /* font-size: 2.2rem; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
:root {
  --primary-color: #f0f7f4;
  --gap: 0.3rem;
  --primary-font: 2.2rem;
}
/* * {
  border: 2px solid black;
} */
/* .wrapper {
  width: 24rem;
  height: 30rem;
} */
.text-top {
  position: relative;
  /* top: 3rem; */
  /* margin: 1rem;
   */
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  /* border: 2px solid black; */
}
.sad {
  font-weight: 800;
}
.instructions {
  position: absolute;
  /* left: 5rem; */
  /* height: 14rem; */
  min-width: 10rem;
  max-width: 30rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  z-index: 20;
  margin-top: 0.5rem;
  border: 3px solid rgba(0, 0, 0, 0.5);
  /* padding-top: 1rem; */
  padding-left: 1.5rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(
    to bottom,
    #4361ee,
    #3b6cf0,
    #3676f1,
    #3680f2,
    #3b89f1,
    #3292f3,
    #309bf3,
    #34a4f3,
    #2caef4,
    #2fb7f3,
    #3bc0f2,
    #4cc9f0
  );
  box-shadow: 5px 5px 3px #4895ef, -3px -3px 3px #4895ef;
  animation: popup 500ms 1;
  /* animation: popdown 400ms 1; */
}

.instructions::before {
  content: "";
  width: 100%;
  height: 100vh;
  background: blue;
}
@keyframes popup {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
/* @keyframes popdown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(o.2);
  }
} */
.instructions > p {
  font-weight: 600;
  /* display: inline-block; */
  text-indent: -8px;
}
/* ul {
  margin-bottom: 1rem;
} */
li {
  margin: 0.3rem;
}
#close {
  /* display: inline; */
  position: absolute;
  right: 0.5rem;
  top: 0.2rem;

  width: 1.5rem;
  height: 1.8rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  /* border: 2px solid rgb(4, 105, 4); */
  background-color: rgb(0, 0, 0, 0.5);
}
#close:hover {
  transform: scale(1.07);
}
.help {
  position: relative;

  font-weight: 600;
  color: rgb(0, 0, 0, 0.8);
  font-family: "Poppins", sans-serif;

  border: none;
  background: transparent;
  cursor: pointer;

  bottom: 0.5rem;
  right: 5rem;
  font-size: 2rem;
}
.help:hover {
  border: rgb(4, 105, 4);
}
/* @media screen and (min-width: 799px) {
  .help {
    right: 18rem;
    top: 5rem;
    font-size: 3rem;
  }
} */
.hidden {
  display: none;
}

.container {
  position: relative;
  width: 19rem;
  height: 32rem;
  padding: 0.5rem;

  border-radius: 1rem;

  background-color: rgba(200, 231, 255, 0.25);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* overflow: hidden; */
  grid-template-areas:
    "a a a a"
    "a a a a"
    "b b b d"
    "c c c d"
    "c c c d"
    "c c c d"
    "c c c d";
  /* box-shadow: 2px 2px rgba(255, 255, 255, 0.5); */
}

/* @media screen and (min-width: 800px) {
  .container {
   
    box-shadow: 7px 7px #26547c;
  }
} */

.container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 2px 2px 0px 2px rgba(255, 255, 255, 0.5),
    -2px -2px 0px 4px rgba (255, 255, 255, 0.5);
  filter: blur(10px);
  background: inherit;
}

/* .container > div {
  background-color: black;
} */
.display-wrap {
  /* background: blue; */
  position: relative;
  grid-area: a;
  color: rgb(255, 255, 255, 0.8);
  /* background: transparent; */
  /* border: 2px solid black; */
  font-size: 2rem;
  background: rgb(0, 0, 0, 0.8);
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.display {
  display: flex;
  /* background: var(--primary-color); */
  border-radius: 0.5rem;
  /* border: 2px solid black; */
  position: absolute;
  bottom: 0.5rem;
  width: 100%;

  height: 4rem;
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2rem;
  overflow-wrap: break-word;
}
#displayadd {
  position: absolute;
  /* display: flex;
  align-items: flex-end; */
  top: 0rem;
  left: 0rem;
  height: 3rem;
  width: 14rem;
  /* border: 2px solid black; */
  text-align: right;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  /* font-weight: 400; */
  overflow-wrap: break-word;
}

.sidedisplay {
  position: absolute;
  width: 2.6rem;
  height: 3rem;

  background-color: transparent;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  text-align: center;
}

.operator1 {
  display: flex;

  justify-content: space-between;

  grid-area: b;
  margin-bottom: 0.2rem;
  /* border: 2px solid black; */
}

@media screen and (max-width: 800px) {
  .btn:active {
    border-style: outset;
  }
}
/* .btn:active {
  border-style: outset;
} */

.operator1 .btn,
.operator2 .btn {
  background-color: #abc4ff;
}
.operator2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100%; */
  align-items: flex-end;
  /* border: 2px solid black; */
  grid-area: d;
}
#clear,
#clear-entry {
  background-color: rgb(244, 93, 105, 0.8);
  font-size: 1.5rem;
}
.btn {
  background-color: transparent;
  /* border: var(--primary-color); */
  border-color: rgb(0, 0, 0, 0.2);
  border-radius: 50%;
  /* background-color: var(--primary-color); */
  position: relative;
  color: rgb(0, 0, 0, 0.7);
  width: 4rem;
  height: 4rem;
  font-size: var(--primary-font);
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(255, 255, 255, 0.6);
  border: inherit;
}

#none {
  border: none;
  cursor: initial;
}
#none:hover {
  background: transparent;
}

#multi {
  padding-top: 1rem;
  font-size: 2rem;
}

.numbers {
  /* margin-top: 0.5rem; */
  grid-area: c;
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: repeat(4, 1fr); */
  /* grid-gap: var(--gap); */
  /* padding-bottom: 0.3rem; */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* F79824 */
/* EEE5E9 */
/* 86BAA1 */
#result {
  background-color: #86baa1;
}

/* .git-link {
  text-transform: capitalize;
  position: absolute;
  top: 0.7rem;
  font-weight: 500;
  border: 1px solid rgb(3, 78, 3);
  padding: 0.3rem 0.8rem;
} */

.gitwarpper {
  /* margin-top: 2rem; */
  text-transform: capitalize;
  z-index: 100;
}
.git {
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
  /* margin-top: 1rem; */
  text-decoration: none;

  /* top: 1rem; */

  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 0.3rem 0.8rem;
}
.git:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(255, 255, 255, 0.8);
  transition: all 300ms ease-in-out;
}
